<nav class="navigation" id="nav">
  <div class="navigation__content">
    <a class="home" href="#top"><span>GP</span></a>
    <ul class="nav-content">
      <li><a href="#Contact" class="navigation__page-link" href="events.html">Contact</a></li>
      <li><a href="#About" class="navigation__page-link" href="contact.html">About</a></li>
    </ul>
  </div><!-- NAVIGATION CONTENT -->
</nav>

<div id="top"></div>
<div class="content__box">

  <h1 class="UVP">All Your Tournaments in One Spot</h1>
  <div class="example-screens__box">
    <%= image_tag "example_screens.png", :class => "example-screen"%>
  </div><!-- EXAMPLE SCREENS -->
  <div class="selling-points__box">
    <h2 class="selling-point">Key Detail about Gamer Pass</h2>
    <h2 class="selling-point">Another Consideration</h2>
    <h2 class="selling-point">Big Claim Reinforcing Unique Value Proposition</h2>
  </div><!-- SELLING POINTS -->

  <div class="signup__button" id="signup-button">
    <span class="signup__text">Sign Up</span>
  </div><!-- SIGNUP BUTTON-->

  <div class="signup__backdrop signup__hidden" id="modal-backdrop"></div>
  <div class="signup__modal signup__hidden" id="signup-modal">
    <div class="signup__close-x__box" id="close-x">
      <div class="signup__close-x__down-arm"></div>
      <div class="signup__close-x__up-arm"></div>
    </div><!-- CLOSE X BOX -->
    <h3>Complete this form to receive X benefit!</h3>
    <%= render "signupform" %>
  </div><!-- SIGNUP MODAL -->

  <div class="content__main">
    <script src="https://verbingnounssincewhen.com/p/8"></script>
    <h2 id="About">About</h2>
    <script src="https://verbingnounssincewhen.com/p/10"></script>
    <h2 id="Contact">Contact</h2>
    <div class="contact__box">
      <span class="contact__bus-info">Gamer Pass</span><br>
      <span class="contact__bus-info">P.O. Box 4567</span><br>
      <span class="contact__bus-info">Chicago, IL </span><br>
      <span class="contact__bus-info">60601</span><br>
      <span class="contact__bus-info">[social media links, maybe]</span><br>
    </div>

  </div><!-- CONTENT MAIN -->
</div><!-- DUMMY BODY -->
