
body {
	padding-top: 0px;
	padding-bottom: 0px;
}

* {
	font-family: 'Muli', 'Helvetica Neue', Helvetica, sans-serif;
	/* available in 200, 200i, 400, 400i, 900, 900i; */
}

p {
	max-width: 750px;
}

a {
	text-decoration: none;
	color: #577fb3;
}

a:hover {
	color: #5a5a66;
}
