

.UVP {
	text-align: center;
	font-weight: 200;
	font-size: 4rem;
}

.content__box {
	margin: 100px 0 120px 0;
}

.content__main {
	margin: 0 0 0 60px;
}

.example-screens__box {
	/*display: flex;*/
	/*border: 1px solid green;*/
}

.example-screen {
	/*position: relative;*/
	display: block;
	margin-left: auto;
	margin-right: auto;

	max-width: 90%;
}

.selling-points__box {
	text-align: center;
}

.selling-point {
	font-size: 3rem;
	font-weight: 200;
}

